
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.font-display {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}
